<div class="max-w-7xl mx-auto mt-5 md:mt-0 border-gray md:col-span-2">
  <div class="text-center items-center mb-6 bg-white dark:bg-gray-900">
    <h1 class="title">Créer un compte</h1>
  </div>

  <div class="form w-auto">
    <div class=" m-4 bg-white sm:p-6">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="grid grid-cols-6 gap-6">
          <div class="col-span-6">
            <%= f.label :email, class: "label" %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input" %>
          </div>

          <div class="col-span-6">
            <%= f.label :name, "Nom", class: "label" %>
            <%= f.text_field :name, autocomplete: "name", class: "input" %>
          </div>

          <div class="col-span-6">
            <%= f.label :address, "Adresse", class: "label" %>
            <%= f.text_field :address, as: :search, autocomplete: "address", id: "tenant_address", class: "input" %>
          </div>

          <div class="col-span-6">
            <%= f.label :password, "Mot de passe", class: "label" %>
            <% if @minimum_password_length %>
            <em class= "label">(<%= @minimum_password_length %> caractères minimum)</em>
            <% end %>
            <%= f.password_field :password, autocomplete: "new-password", class: "input" %>
          </div>

          <div class="col-span-6">
            <%= f.label :password_confirmation, "Confirmation du mot de passe", class: "label" %>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input" %>
          </div>
        </div>
    </div>
  </div>

    <div class="text-center pb-8 px-4 sm:px-4 mt-6 lg:pb-8 lg:px-8 lg:items-center">
      <div class="inline-flex rounded-md shadow">
        <%= f.submit "S'inscrire", class: "btn-1" %>
      </div>
    <% end %>

  <%= render "devise/shared/links" %>
    </div>

</div>
