  <h1>Vos quittances</h1>

  <% @tenants.each do |tenant| %>
    <div class="card">
      <%= tenant.name %>
      <%= tenant.address %>
      <% if tenant.receipt_ids.any? %>
        <% tenant.receipts.each do |receipt| %>
          <div class="card">
            <%= I18n.l(receipt.period, format: "%B %Y", locale: :fr).upcase %>
            <%= link_to "Télécharger", receipt_path(receipt, format: "pdf"), target: :blank, class: "btn" %>
          </div>
        <% end %>
      <% else %>
        <%= "Pas de quittance de loyer" %>
      <% end %>
    </div>
  <% end %>
