<div class="max-w-7xl mx-auto mt-5 md:mt-0 border-gray md:col-span-2">
  <div class="text-center items-center mb-6 bg-white dark:bg-gray-900">
    <h1 class="title">Nouvelle quittance de loyer</h1>
  </div>

  <div class="form">
    <div class=" m-4 bg-white sm:p-6">
      <%= simple_form_for [@receipt] do |f| %>
        <div class="grid grid-cols-6 gap-6">
          <div class="col-span-6">
            <label for="period" class="label">Période</label>
              <%= f.input :period, label: false, placeholder: "Période", discard_day: true, locale: :fr, input_html: { class: "input-period" } %>
          </div>
          <div class="col-span-6">
            <label for="date" class="label">Date du paiement</label>
              <%= f.input :date, label: false, placeholder: "Date du paiement",  as: :date, html5: true, locale: :fr, input_html: { class: "input" } %>
          </div>
          <div class="col-span-6">
            <label for="tenant" class="label">Locataire</label>
              <%= f.association :tenant, label: false, placeholder: "Locataire", collection: current_user.tenants, :label_method => lambda { |tenant| "#{tenant.name} - #{tenant.address}" } , value_method: :id, input_html: { class: "input" } %>
              <%= link_to "Ajouter un locataire", new_tenant_path, class: "text-blue-400 text-sm" %>
          </div>
      </div>
    </div>
  </div>
  <div class="text-center pb-8 px-4 sm:px-4 mt-6 lg:pb-8 lg:px-8 lg:items-center">
    <div class="inline-flex rounded-md shadow">
      <%= f.submit "Créer une quittance", class: "btn-1"%>
    </div>
  </div>
  <% end %>
</div>

