<!DOCTYPE html>
<html>
  <head>
    <title>Quittance - Gérer vos locataires et vos quittances de loyer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>

    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
  </head>

  <body topmargin="0" leftmargin="0" rightmargin="0" class="bg-gray">
    <%= render 'shared/navbar' %>
    <div class= "container global-card">
      <%= yield %>
    </div>
  </body>
</html>
