<!DOCTYPE html>
<html>
  <head>
    <title>Quittance - Gérer vos locataires et vos quittances de loyer</title>
    <meta name="description" content="Gérer vos locataire et générer vos quittances de loyer chaque mois facilement.">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>

    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="Quittance - Gérer vos locataires et vos quittances de loyer" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="favicon.ico" />
    <meta property="og:description" content="Gérer vos locataire et générer vos quittances de loyer chaque mois facilement." />
    <meta property="og:site_name" content="Quittance - Gérer vos locataires et vos quittances de loyer" />
  </head>

  <body topmargin="0" leftmargin="0" rightmargin="0" class="bg-gray">
    <%= render 'shared/navbar' %>
    <div class= "container global-card">
      <%= yield %>
    </div>
  </body>
</html>
