<!DOCTYPE html>
<html>
  <head>
    <title>Quittance</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body topmargin="0" leftmargin="0" rightmargin="0">
    <%= render 'shared/navbar' %>
    <div class= "container global-card">
      <%= yield %>
    </div>
  </body>
</html>
